/* You can add global styles to this file, and also import other style files */
@import '~css-star-rating/scss/star-rating';
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import '~bootstrap/dist/css/bootstrap.min.css';


.button:active,
button:active,
.button:focus,
button:focus,
.button:hover,
button:hover{
  border:none !important;
  outline:none !important;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
