@import '~@angular/material/theming';
@include mat-core();


$umass: (
  50: #ffffff,
  100: #881c1c,
  200: #71b2c9,
  300: #76881d,
  400: #6992c9,
  500: #5282c1,
  600: #4072b4,
  700: #38649d,
  800: #305687,
  900: #284770,
  A100: white,
  A200: #dde6f3,
  A400: #6992c9,
  A700: #38649d,
  contrast: (
    50: $black-87-opacity,
    100: #ffffff,
    200: #ffffff,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  )
);

$umass-palette-primary: mat-palette($umass);
$umass-palette-accent:  mat-palette($umass);

$trellis-app-primary: mat-palette($mat-red, 900);
$trellis-app-accent:  mat-palette($mat-blue, 300);
$trellis-app-warn:     mat-palette($mat-pink, 900);
$trellis-app-accept:     mat-palette($mat-light-green, 300);
$trellis-app-theme: mat-light-theme($trellis-app-primary, $trellis-app-accent, $trellis-app-warn);

@include angular-material-theme($trellis-app-theme);

