
<body>
<h1>Up Coming Appointments</h1>

<div *ngFor="let appointment of tempAppointments">
  <ul *ngIf="appointment.date >= date ">
    <mat-card [class.mat-elevation-z5]="true" class="appointment-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title> <button mat-button [routerLink]="['/student-profile', appointment.appt_id]" routerLinkActive="active">{{appointment.student}}</button> </mat-card-title>
        <mat-card-subtitle>{{appointment.type}}</mat-card-subtitle>
        <mat-card-subtitle>{{appointment.location}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <h4> {{appointment.date | date:'HH:mm a  MMM dd yyyy '}} </h4>
        <h4> Duration: {{appointment.duration}} Minutes</h4>
        <h4 *ngIf="appointment.cancelled"> <b> Meeting is Cancelled </b> </h4>
      </mat-card-content>
      <mat-card-actions *ngIf="!appointment.cancelled">
        <button (click)="verify(appointment)" mat-button routerLink="/supporter-appointments" >Cancel</button>
      </mat-card-actions>
    </mat-card>
  </ul>
</div>

<h1>Previous Appointments</h1>

<div *ngFor="let appointment of tempAppointments">
  <ul *ngIf="appointment.date < date ">
    <mat-card [class.mat-elevation-z5]="true" class="appointment-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title> <button mat-button [routerLink]="['/student-profile', appointment.appt_id]" routerLinkActive="active">{{appointment.student}}</button> </mat-card-title>
        <mat-card-subtitle>{{appointment.type}}</mat-card-subtitle>
        <mat-card-subtitle>{{appointment.location}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <h4> {{appointment.date | date:'HH:mm a  MMM dd yyyy '}} </h4>
        <h4> Duration: {{appointment.duration}} Minutes </h4>
      </mat-card-content>
      <mat-expansion-panel *ngIf="appointment.rated">
        <mat-expansion-panel-header>View Feedback</mat-expansion-panel-header>
        <p *ngIf="appointment.show_rating">
          Rating: {{appointment.rating}} / 5
        </p>
        <p  *ngIf="appointment.show_recommend">
          Would Recommend: {{appointment.recommend}}
        </p>
<!--        <p>-->
<!--          Question: {{tempFeedback.question}}-->
<!--        </p>-->
<!--        <p>-->
<!--          Answer: {{tempFeedback.answer}}-->
<!--        </p>-->
        <div *ngFor="let q of appointment.question;let i=index">
          <p>
            Question: {{q}}
            <br>
            Answer: {{appointment.answer[i]}}
          </p>
        </div>
      </mat-expansion-panel>
    </mat-card>
  </ul>
</div>
</body>
