h1 {
  color: white;
  background-color: darkred;
  width: 800px;
  margin-top: 10px;
  padding: 10px;
  margin-left: 10px;
}

body {
  background-color: beige;
}

p {
  background-color: darkred;
  color: white;
  outline-width: 20px;
  outline-color: black;
  margin-top: 10px;
  padding: 10px;
  width: 800px;
  margin-left: 10px;
  border-radius: 2px;
}
