
<body>
<h1>Up Coming Appointments</h1>

<div *ngFor="let appointment of pageAppointments">
  <ul *ngIf="appointment.date >= date ">
    <mat-card [class.mat-elevation-z5]="true" class="appointment-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{appointment.type}}</mat-card-title>
        <mat-card-subtitle>{{appointment.student}}</mat-card-subtitle>
        <mat-card-subtitle>{{appointment.location}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <h4> {{appointment.date | date:'HH:mm a  MMM dd yyyy '}} </h4>
      </mat-card-content>
      <mat-card-actions>
        <button (click)="verify(appointment)" mat-button routerLink="/supporter-appointments" >Cancel</button>
      </mat-card-actions>
    </mat-card>
  </ul>
</div>

<h1>Previous Appointments</h1>

<div *ngFor="let appointment of pageAppointments">
  <ul *ngIf="appointment.date < date ">
    <mat-card [class.mat-elevation-z5]="true" class="appointment-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{appointment.type}}</mat-card-title>
        <mat-card-subtitle>{{appointment.student}}</mat-card-subtitle>
        <mat-card-subtitle>{{appointment.location}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <h4> {{appointment.date | date:'HH:mm a  MMM dd yyyy '}} </h4>
      </mat-card-content>
    </mat-card>
  </ul>
</div>
</body>
