<!-- TO IMPLEMENT:
Character limit on description（done）
Clickable links
Dynamic display for certain attributes
Edit/update profile picture
Uploading files
Cancel button
Maybe something better than a bunch of <br>s?-->
<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">

<div *ngIf = "this.canEdit">
  <h1>My Profile</h1>
</div>

<div *ngIf = "!this.canEdit">
  <h1>{{studentInfo.first_name}}'s Profile</h1>
</div>


<body>
  <!--Profile picture-->
    <img src = "assets/umasslogo.png" alt = "avatar">
  <div *ngIf = "this.canEdit">
  <mat-file-upload
    [labelText]="'Upload Picture:'"
    [selectButtonText]="'Choose File'"
    [allowMultipleFiles]="false"
    [showUploadButton]="true"
    [customSvgIcon]="'close_custom'"
    [acceptedTypes]="'.png'"
  >
  </mat-file-upload>
  </div>
  <br>

  <!--Info/Personal Links: currently contains names, pronouns, major, graduate year, GPA, email-->
  <mat-expansion-panel>
    <!--View mode-->
    <mat-expansion-panel-header>Personal Info</mat-expansion-panel-header>
      <ul *ngIf = "informationFlag">
        <li>Name: {{studentInfo.first_name}} {{studentInfo.last_name}}<br>
          <mat-card-subtitle>Prefers {{studentInfo.preferred_name}}</mat-card-subtitle></li><br>
        <li>Pronouns: {{studentInfo.pronouns}}</li><br>
        <li>Major:  {{studentInfo.major}}</li><br>
        <li>Graduation Year: {{studentInfo.grad_year}}</li><br>
        <li>GPA: {{studentInfo.GPA}}</li><br>
        <div *ngIf = "this.canEdit">
         <mat-card-actions>
          <button mat-raised-button (click) = "runInformation()" color="primary">EDIT</button>
        </mat-card-actions>
        </div>
      </ul>
    <!--Edit mode-->
      <ul *ngIf = "!informationFlag">
        <li>Preferred Name:
          <mat-form-field class="input" appearance="fill">
            <input matInput id = "preferred_name" [(ngModel)]="studentInfo.preferred_name" maxlength="15"/>
          </mat-form-field>
        </li>
        <li>Last Name:
          <mat-form-field class="input" appearance="fill">
            <input type = "text"matInput id = "last_name" [(ngModel)]="studentInfo.last_name" maxlength="15"/>
          </mat-form-field>
        </li>
        <li>Pronouns:
          <mat-form-field class="input" appearance="fill">
            <input matInput id = "pronouns" [(ngModel)]="studentInfo.pronouns" maxlength="15"/>
          </mat-form-field>
        </li>
        <li>Major:
          <mat-form-field class="input" appearance="fill">
            <input matInput id = "major" [(ngModel)]="studentInfo.major" maxlength="20"/>
          </mat-form-field>
        </li>
        <li >Graduation Year:
          <mat-form-field class="input" appearance="fill">
            <input matInput id = "grad_year" [(ngModel)]="studentInfo.grad_year" maxlength="4"/>
          </mat-form-field>
        </li><br>
        <mat-card-actions>
          <button mat-raised-button (click) = "submitInformation()" color="primary">SUBMIT</button>
        </mat-card-actions>
      </ul>
  </mat-expansion-panel><br>

  <!--Personal Description-->
  <mat-expansion-panel>
    <mat-expansion-panel-header>Personal Description</mat-expansion-panel-header>
    <!--View mode-->
    <ul *ngIf = "descriptionFlag">
      <li>{{studentInfo.personal_description}}</li><br> <!--Character Limit Needed-->
      <div *ngIf = "this.canEdit">
        <mat-card-actions>
          <button mat-raised-button (click) = "runDescription()" color="primary">EDIT</button>
        </mat-card-actions>
      </div>
    </ul>
    <!--Edit mode-->
    <ul *ngIf = "!descriptionFlag">
      Enter a brief description about yourself and your goals
      <br>
      <mat-form-field class="input" appearance="fill">
        <input matInput id = "personal_description "[(ngModel)]="studentInfo.personal_description"  maxlength="300">
      </mat-form-field><br>
      <mat-card-actions>
        <button mat-raised-button (click) = "submitDescription()" color="primary">SUBMIT</button>
      </mat-card-actions>
  </ul>
  </mat-expansion-panel>
  <br>

  <!--Personal Links/Files-->
  <mat-expansion-panel>
    <mat-expansion-panel-header>Personal Links and Files</mat-expansion-panel-header>
    <!--View mode-->
    <ul *ngIf = "linksFilesFlag">
      <li>Github: {{studentInfo.github_link}}</li><br> <!--Dynamic implementation needed-->
<!--      <li>Resume: {{studentInfo.Resume}}</li><br>-->
      <div *ngIf = "this.canEdit">
        <mat-card-actions>
          <button mat-raised-button (click) = "runLinksFiles()" color="primary">EDIT</button>
        </mat-card-actions>
      </div>
    </ul>
    <!--Edit mode-->
    <ul *ngIf = "!linksFilesFlag">
      Github:
      <mat-form-field class="input" appearance="fill">
        <input matInput placeholder="Personal link" [(ngModel)]="studentInfo.github_link">
      </mat-form-field><br>
      <mat-file-upload
        [labelText]="'Upload File:'"
        [selectButtonText]="'Choose File'"
        [allowMultipleFiles]="false"
        [showUploadButton]="true"
        [customSvgIcon]="'close_custom'"
        [acceptedTypes]="'.pdf, .docx'"
      >
      </mat-file-upload>
      <mat-card-actions>
        <button mat-raised-button (click) = "submitLinksFiles()" color="primary">SUBMIT</button>
      </mat-card-actions>
    </ul>
  </mat-expansion-panel><br>
</body>
