header{
  text-align: center;
  color: blue;
  font-size: xx-large;
}

h1{
  margin: 0 auto;
  padding:20px;
  border:1px solid #3F51B5;
  font-size: large;
}

.red{
  color: red;
}

h2{
  font-size: large;
  text-align: right;
}

h3{
  text-align: right;
  color: white;
  font-size: 16px;

}

.submit{
  font-size: 24px;
}

