mat-card-header{
  text-align: center;
  color: blue;
  font-size: xx-large;
}

.red{
  color: red;
}

h2{
  font-size: large;
  text-align: right;
  background-color: whitesmoke;
  color: black;
  width: 90%;
  font-size: large;
}

h1 {
  background-color: whitesmoke;
  color: black;
  font-size: large;
}
h3{
  text-align: right;
  background-color: whitesmoke;
  color: black;
  font-size: 16px;
}

.submit{
  font-size: 24px;
}

ul{
  list-style-type: none;
}
