<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>"Supporter Landing!"</title>
<body>
<h1>Supporter Landing</h1>
<button mat-button class="mat-raised-button" color="primary" routerLink="/supporter-appointments" routerLinkActive="active">Appointments</button>
<button mat-button class="mat-raised-button" color="primary" routerLink="/supporter-settings" routerLinkActive="active">Settings</button>
<button mat-button class="mat-raised-button" color="primary" routerLink="/supporter-availability" routerLinkActive="active">Availability</button>
</body>
</html>
