<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>"Admin Discipline!"</title>
<body>
<h1>Admin Discipline Dashboard</h1>
<div class= "block1">

  <h3>User ID</h3>
  <mat-form-field class = "input">
    <input matInput placeholder="Specify a user ID here" [value]=reportedID [(ngModel)]=reportedID>
  </mat-form-field>

  <h3>Reason</h3>
  <mat-form-field class="reason">
    <textarea matInput placeholder="Specify reason for discipline"></textarea>
  </mat-form-field>

  <br>
  <button mat-raised-button color="warn" (click) = "ban()">Ban</button>
</div>
</body>
</html>
