h1 {
  color: white;
  background-color: darkred;
  width: 800px;
  margin-top: 10px;
  padding: 10px;
  margin-left: 10px;
}

body {
  background-color: grey;
}

.reason {
  min-width: 400px;
  max-width: 500px;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
}

.input {
  min-width: 200px;
  max-width: 300px;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
}


.block1 {
  background-color: lightgrey;
  margin-left: 30px;
  width: 800px;
  padding: 10px;
  border-radius: 10px;
}
