h1 {
  color: white;
  background-color: darkred;
  width: 800px;
  margin-top: 10px;
  padding: 10px;
  margin-left: 10px;
}

body {
  background-color: grey;
}

.reason {
  width: 500px;
  height: 200px;
}

.block1 {
  background-color: lightgrey;
  margin-left: 30px;
  width: 700px;
  padding: 10px;
  border-radius: 10px;
}
