.tagbox {
  background-color: white;
  width: 600px;
  margin-left: 30px;
  padding: 10px;
  border-radius: 10px;
}

table {
  width: 100%;
}

.analytics {
  overflow-y: scroll;
  max-height: 300px;
}
