h1 {
  color: black;
  background-color: white;
  width: 800px;
  margin-top: 10px;
  padding: 10px;
  margin-left: 10px;
}

mat-expansion-panel-header {
  background-color: darkred;

}

body {
  background-color: white;
}
.subbox {
  background-color: lightgrey;
  width: 800px;
  margin-left: 30px;
  margin-right: 90px;
  padding: 10px;
  border-radius: 10px;
}
