h1 {
  color: white;
  background-color: darkred;
  width: 800px;
  margin-top: 10px;
  padding: 10px;
  margin-left: 10px;
}

mat-expansion-panel-header {
  background-color: darkred;

}

body {
  background-color: grey;
}
.subbox {
  background-color: lightgrey;
  width: 600px;
  margin-left: 30px;
  padding: 10px;
  border-radius: 10px;
}
