h1 {
  color: white;
  background-color: darkred;
  width: 800px;
  margin-top: 10px;
  padding: 10px;
  margin-left: 10px;
}

body {
  background-color: grey;
}

.block1 {
  background-color: lightgrey;
  margin-left: 30px;
  padding: 10px;
  border-radius: 10px;
}

p {
  background-color: darkred;
  color: white;
  width: 800px;
  outline-width: 20px;
  outline-color: black;
  margin-top: 10px;
  padding: 10px;
  margin-left: 10px;
  border-radius: 5px;
}

nav{
  display:flex;
  flex-wrap:wrap;
}
nav a {
  text-decoration: none;
  display:block;
  padding: 15px 25px;
  text-align: center;
  background-color: darkred;
  color: white;
  font-family:sans-serif;
}
nav a:hover {
  background-color: rebeccapurple;
  color:rebeccapurple;
}

