/* TestComponent's private CSS styles */
h1 {
  color: #3F51B5;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

.center {
  text-align: center;
}

.img_center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.test {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.test li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.test li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.test li.selected {
  background-color: #CFD8DC;
  color: white;
}
.test li.selected:hover {
  background-color: #BBD8DC;
  color: white;
}
.test .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color:#405061;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}
