<!-- Student -->
<div *ngIf = "userType">
  <div class="main-div">
    <mat-card [class.mat-elevation-z5]="true">
      <mat-card-content>
        <h2>Create a Student Account</h2>
        <form class="container">
          <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput placeholder="ex. John" required [(ngModel)]="userName">
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>Preferred Name</mat-label>
            <input matInput placeholder="ex. Jack" required [(ngModel)]="preferredName">
          </mat-form-field>
          <br>
<!--          <mat-form-field appearance="fill">-->
<!--            <mat-label>Phone Number</mat-label>-->
<!--            <input matInput placeholder="xxx-xxx-xxxx" required [(ngModel)]="phoneNum">-->
<!--          </mat-form-field>-->
<!--          <br>-->
          <mat-form-field appearance="fill">
            <mat-label>GPA</mat-label>
            <input matInput placeholder="ex. 3.12" [(ngModel)]="gpa">
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>Graduation Year</mat-label>
            <mat-select [(ngModel)]="gradYear">
              <mat-option value="2020">2020</mat-option>
              <mat-option value="2020">2021</mat-option>
              <mat-option value="2020">2022</mat-option>
              <mat-option value="2020">2023</mat-option>
              <mat-option value="2020">2024</mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>GitHub</mat-label>
            <input matInput placeholder="ex. https://github.com/user" [(ngModel)]="github">
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>LinkedIn</mat-label>
            <input matInput placeholder="ex. https://www.linkedin.com/in/user/" [(ngModel)]="linkedin">
          </mat-form-field>
          <br>
          <mat-file-upload
            [labelText]="'Upload resume:'"
            [selectButtonText]="'Choose File'"
            [uploadButtonText]="'Submit'"
            [allowMultipleFiles]="false"
            [showUploadButton]="true"
            [customSvgIcon]="'close_custom'"
            [acceptedTypes]="'.pdf, .docx'"
          >
          </mat-file-upload>
          <br>
          <mat-file-upload
            [labelText]="'Upload transcript:'"
            [selectButtonText]="'Choose File'"
            [uploadButtonText]="'Submit'"
            [allowMultipleFiles]="false"
            [showUploadButton]="true"
            [customSvgIcon]="'close_custom'"
            [acceptedTypes]="'.pdf, .docx'"
          >
          </mat-file-upload>
          <br>
<!--          <mat-file-upload-->
<!--            [labelText]="'Upload Profile Picture:'"-->
<!--            [selectButtonText]="'Choose File'"-->
<!--            [uploadButtonText]="'Submit'"-->
<!--            [allowMultipleFiles]="false"-->
<!--            [showUploadButton]="true"-->
<!--            [customSvgIcon]="'close_custom'"-->
<!--            [acceptedTypes]="'.png, .jpg, .jpeg'"-->
<!--          >-->
<!--          </mat-file-upload>-->

        </form>
        <div>
          <button mat-raised-button (click)="sendData()" routerLink="/login" color="primary">Create Account</button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

</div>

<!-- Supporter -->
<div *ngIf = "!userType">
  <div class="main-div">
    <mat-card [class.mat-elevation-z5]="true">
      <mat-card-content>
        <h2>Create a Supporter Account</h2>
        <form class="container">
          <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput placeholder="ex. John" required [(ngModel)]="userName">
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>Preferred Name</mat-label>
            <input matInput placeholder="ex. Jack" required [(ngModel)]="preferredName">
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>Title</mat-label>
            <input matInput placeholder="ex. Principle Software Engineer" required [(ngModel)]="userTitle">
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>Current Employer</mat-label>
            <input matInput placeholder="ex. Google" required [(ngModel)]="currentEmployer">
          </mat-form-field>
<!--          <br>-->
<!--          <mat-form-field appearance="fill">-->
<!--            <mat-label>Phone Number</mat-label>-->
<!--            <input matInput placeholder="xxx-xxx-xxxx" required [(ngModel)]="phoneNum">-->
<!--          </mat-form-field>-->
          <br>
          <span>Supporter Types</span>
          <br>
          <mat-checkbox class="padding">Alumni</mat-checkbox>
          <mat-checkbox class="padding">Industry Affiliate</mat-checkbox>
          <mat-checkbox class="padding">Professor</mat-checkbox>
<!--          <br>-->
<!--          <mat-file-upload-->
<!--            [labelText]="'Upload Profile Picture:'"-->
<!--            [selectButtonText]="'Choose File'"-->
<!--            [uploadButtonText]="'Submit'"-->
<!--            [allowMultipleFiles]="false"-->
<!--            [showUploadButton]="true"-->
<!--            [customSvgIcon]="'close_custom'"-->
<!--            [acceptedTypes]="'.png, .jpg, .jpeg'"-->
<!--          >-->
<!--          </mat-file-upload>-->
        </form>
        <div>
          <button mat-raised-button (click)="sendData()" routerLink="/login" color="primary">Create Account</button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
