<!-- Student -->
<div *ngIf = "userType">
  <div class="main-div">
    <mat-card [class.mat-elevation-z5]="true">
      <mat-card-content>
        <h2>Create a Student Account</h2>

        <div class="container" novalidate>
          <form [formGroup]="formStudentGroup" (ngSubmit)="onSubmit(formStudentGroup.value)" class="form">

            <mat-form-field class="form-element">
              <input matInput placeholder="First Name *" formControlName="first_name">
              <mat-error *ngIf="!first_name.valid && first_name.touched">
                {{ titleAlert }}
              </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field class="form-element">
              <input matInput placeholder="Last Name *" formControlName="last_name">
              <mat-error *ngIf="!last_name.valid && last_name.touched">
                {{ titleAlert }}
              </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field class="form-element">
              <input matInput placeholder="Preferred First Name *" formControlName="preferredName">
              <mat-error *ngIf="!preferred_name.valid && preferred_name.touched">
                {{ titleAlert }}
              </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field class="form-element">
              <input matInput placeholder="Email Address *" formControlName="email">
              <mat-error *ngIf="!formStudentGroup.controls['email'].valid && formStudentGroup.controls['email'].touched">
                {{ getErrorEmail() }}
              </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field class="form-element">
              <input matInput placeholder="Password *" formControlName="password" [type]="hide ? 'password' : 'text'">
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              <mat-hint>Choose a password of at least eight characters, one uppercase letter and one number</mat-hint>
              <mat-error *ngIf="!formStudentGroup.controls['password'].valid && formStudentGroup.controls['password'].touched">
                {{ getErrorPassword() }}
              </mat-error>
            </mat-form-field>
            <br>
            <br>
            <mat-form-field class="form-element">
              <mat-label>Are you an undergraduate student? *</mat-label>
              <mat-select formControlName="is_undergrad">
                <mat-option value="YES">Yes</mat-option>
                <mat-option value="NO">No</mat-option>
              </mat-select>
            </mat-form-field>
            <br>
            <mat-form-field class="form-element">
              <mat-label>Graduation Year *</mat-label>
              <mat-select formControlName="gradYear">
                <mat-option value="2020">2020</mat-option>
                <mat-option value="2020">2021</mat-option>
                <mat-option value="2020">2022</mat-option>
                <mat-option value="2020">2023</mat-option>
                <mat-option value="2020">2024</mat-option>
              </mat-select>
            </mat-form-field>
            <br>
            <mat-form-field class="form-element">
              <mat-label>Pronouns *</mat-label>
              <mat-select formControlName="pronouns">
                <mat-option value="He/Him">He/Him</mat-option>
                <mat-option value="She/Her">She/Her</mat-option>
                <mat-option value="They/Them">They/Them</mat-option>
                <mat-option value="Other">Other</mat-option>
              </mat-select>
            </mat-form-field>
            <br>
            <mat-form-field class="form-element">
              <mat-label>College *</mat-label>
              <mat-select formControlName="college">
                <mat-option value="College of Education">College of Education</mat-option>
                <mat-option value="College of Engineering">College of Engineering</mat-option>
                <mat-option value="College of Humanities and Fine Arts">College of Humanities and Fine Arts</mat-option>
                <mat-option value="College of Natural Sciences">College of Natural Sciences</mat-option>
                <mat-option value="College of Nursing">College of Nursing</mat-option>
                <mat-option value="College of Social and Behavioral Sciences">College of Social and Behavioral Sciences</mat-option>
                <mat-option value="Isenberg School of Management">Isenberg School of Management</mat-option>
                <mat-option value="College of Information and Computer Sciences">College of Information and Computer Sciences</mat-option>
                <mat-option value="School of Public Health and Health Sciences">School of Public Health and Health Sciences</mat-option>
                <mat-option value="Stockbridge School of Agriculture">Stockbridge School of Agriculture</mat-option>
                <mat-option value="University Without Walls">University Without Walls</mat-option>
              </mat-select>
            </mat-form-field>
            <br>
            <mat-form-field class="form-element">
              <mat-label>Program *</mat-label>
              <mat-select formControlName="program">
                <mat-option value="Bachelor's">Bachelor's</mat-option>
                <mat-option value="Master's">Master's</mat-option>
                <mat-option value="PhD">PhD</mat-option>
              </mat-select>
            </mat-form-field>
            <br>
            <mat-form-field class="form-element">
              <input matInput placeholder="Phone Number" formControlName="phoneNum">
            </mat-form-field>
            <br>
            <mat-form-field class="form-element">
              <input matInput placeholder="GPA" formControlName="gpa">
            </mat-form-field>
            <br>
            <mat-form-field class="form-element">
              <mat-label>Are you searching for a job?</mat-label>
              <mat-select formControlName="job_search">
                <mat-option value="YES">Yes</mat-option>
                <mat-option value="NO">No</mat-option>
              </mat-select>
            </mat-form-field>
            <br>
            <mat-form-field class="form-element">
              <input matInput placeholder="Work Authorization" formControlName="work_auth">
            </mat-form-field>
            <br>
            <mat-form-field class="form-element">
              <input matInput placeholder="GitHub" formControlName="github">
              <mat-error *ngIf="!formStudentGroup.controls['github'].valid && formStudentGroup.controls['github'].touched">
                {{ getErrorGithub() }}
              </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field class="form-element">
              <input matInput placeholder="LinkedIn" formControlName="linkedin">
              <mat-error *ngIf="!formStudentGroup.controls['linkedin'].valid && formStudentGroup.controls['linkedin'].touched">
                {{ getErrorLinkedIn() }}
              </mat-error>
            </mat-form-field>
            <br>
            <mat-file-upload
              [labelText]="'Upload resume:'"
              [selectButtonText]="'Choose File'"
              [uploadButtonText]="'Submit'"
              [allowMultipleFiles]="false"
              [showUploadButton]="true"
              [acceptedTypes]="'.pdf, .docx'"
            ></mat-file-upload>
            <br>
            <mat-file-upload
              [labelText]="'Upload transcript:'"
              [selectButtonText]="'Choose File'"
              [uploadButtonText]="'Submit'"
              [allowMultipleFiles]="false"
              [showUploadButton]="true"
              [acceptedTypes]="'.pdf, .docx'"
            ></mat-file-upload>
            <br>
            <mat-file-upload
              [labelText]="'Upload Profile Picture:'"
              [selectButtonText]="'Choose File'"
              [uploadButtonText]="'Submit'"
              [allowMultipleFiles]="false"
              [showUploadButton]="true"
              [acceptedTypes]="'.png, .jpg, .jpeg'"
              (uploadClicked)="onUploadClicked($event)"
            ></mat-file-upload>

            <div class="form-element">
              <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formStudentGroup.valid">Submit Form</button>
            </div>

          </form>
        </div>

<!--        <ng-template #forminfo>-->
<!--          <div class="container">-->
<!--            {{ post | json }}-->
<!--          </div>-->
<!--        </ng-template>-->
      </mat-card-content>
    </mat-card>
  </div>

</div>

<!-- Supporter -->
<div *ngIf = "!userType">
  <div class="main-div">
    <mat-card [class.mat-elevation-z5]="true">
      <mat-card-content>
        <h2>Create a Supporter Account</h2>
        <div class="container" novalidate>
          <form [formGroup]="formSupporterGroup" (ngSubmit)="onSubmit(formSupporterGroup.value)" class="form">

            <mat-form-field class="form-element">
              <input matInput placeholder="First Name *" formControlName="first_name">
              <mat-error *ngIf="!first_name.valid && first_name.touched">
                {{ titleAlert }}
              </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field class="form-element">
              <input matInput placeholder="Last Name *" formControlName="last_name">
              <mat-error *ngIf="!last_name.valid && last_name.touched">
                {{ titleAlert }}
              </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field class="form-element">
              <input matInput placeholder="Preferred First Name *" formControlName="preferredName">
              <mat-error *ngIf="!preferred_name.valid && preferred_name.touched">
                {{ titleAlert }}
              </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field class="form-element">
              <input matInput placeholder="Email Address *" formControlName="email">
              <mat-error *ngIf="!formSupporterGroup.controls['email'].valid && formSupporterGroup.controls['email'].touched">
                {{ getErrorEmail() }}
              </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field class="form-element">
              <input matInput placeholder="Password *" formControlName="password" [type]="hide ? 'password' : 'text'">
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              <mat-hint>Choose a password of at least eight characters, one uppercase letter and one number</mat-hint>
              <mat-error *ngIf="!formSupporterGroup.controls['password'].valid && formSupporterGroup.controls['password'].touched">
                {{ getErrorPassword() }}
              </mat-error>
            </mat-form-field>
            <br>
            <br>
            <mat-form-field class="form-element">
              <mat-label>Pronouns *</mat-label>
              <mat-select formControlName="pronouns">
                <mat-option value="He/Him">He/Him</mat-option>
                <mat-option value="She/Her">She/Her</mat-option>
                <mat-option value="They/Them">They/Them</mat-option>
                <mat-option value="Other">Other</mat-option>
              </mat-select>
            </mat-form-field>
            <br>
            <div class="form-group" formGroupName="supporterTypes">
              <div class="label">Select at least one supporter type<span class="highlight">*</span></div>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" formControlName="Alumni" id="Alumni">
                <label class="custom-control-label" for="Alumni">Alumni</label>
              </div>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" formControlName="Faculty" id="Faculty">
                <label class="custom-control-label" for="Faculty">Faculty</label>
              </div>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" formControlName="Professional Staff" id="Professional Staff">
                <label class="custom-control-label" for="Professional Staff">Professional Staff</label>
              </div>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" formControlName="Student Staff" id="Student Staff">
                <label class="custom-control-label" for="Student Staff">Student Staff</label>
              </div>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" formControlName="Other" id="Other">
                <label class="custom-control-label" for="Other">Other</label>
              </div>
            </div>
            <br>
            <mat-form-field class="form-element">
              <input matInput placeholder="Phone Number" formControlName="phoneNum">
            </mat-form-field>
            <br>
            <mat-form-field class="form-element">
              <input matInput placeholder="Title" formControlName="userTitle">
              <mat-hint>ex. Mr</mat-hint>
            </mat-form-field>
            <br>
            <mat-form-field class="form-element">
              <input matInput placeholder="Current Employer" formControlName="currentEmployer">
            </mat-form-field>
            <br>
            <mat-file-upload
              [labelText]="'Upload Profile Picture:'"
              [selectButtonText]="'Choose File'"
              [uploadButtonText]="'Submit'"
              [allowMultipleFiles]="false"
              [showUploadButton]="true"
              [acceptedTypes]="'.png, .jpg, .jpeg'"
              (uploadClicked)="onUploadClicked($event)"
            ></mat-file-upload>

            <div class="form-element">
              <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formSupporterGroup.valid">Submit Form</button>
            </div>

          </form>
        </div>

<!--        <ng-template #forminfo>-->
<!--          <div class="container">-->
<!--            {{ post | json }}-->
<!--          </div>-->
<!--        </ng-template>-->
      </mat-card-content>
    </mat-card>
  </div>
</div>
