.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}


.logo_button {
  font-size: 1.1em;
}

.logo_button /deep/ .mat-button-focus-overlay {
  background-color:transparent;
}
