h1 {
  color: white;
  background-color: darkred;
  width: 800px;
  margin-top: 10px;
  padding: 10px;
  margin-left: 10px;
}

body {
  background-color: grey;
}

p {
  background-color: darkred;
  color: white;
  width: 800px;
  outline-width: 20px;
  outline-color: black;
  margin-top: 10px;
  padding: 10px;
  margin-left: 10px;
  border-radius: 5px;
}

nav{
  display:flex;
  flex-wrap:wrap;
  margin-left: 20px;
}
nav a {
  text-decoration: none;
  display:block;
  padding: 15px 25px;
  text-align: center;
  background-color: darkred;
  color: white;
  margin:0;
  outline-width: thick;
  outline-color: black;
  font-family:sans-serif;
}
nav a:hover {
  background-color: #777777;
  color:#ffffff;
}
