<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>"Admin Landing!"</title>
<body>
<h1>Admin Landing</h1>
<button mat-button class="mat-raised-button" routerLink="/admin-reports" routerLinkActive="active">Admin Reports</button>
<button mat-button class="mat-raised-button" routerLink="/admin-applications" routerLinkActive="active">Application Review</button>
<button mat-button class="mat-raised-button" routerLink="/admin-tags" routerLinkActive="active">Tags</button>
<button mat-button class="mat-raised-button" routerLink="/admin-discipline" routerLinkActive="active">Discipline</button>
</body>
</html>
