

.settingsbox {
  background-color: white;
  width: 800px;
  margin-left: 30px;
  padding: 10px;
  border-radius: 10px;
}


.mat-expansion-panel-header {
  background-color: lightgrey;
}
.textbox {
  min-width: 400px;
  max-width: 500px;
}

.input {
  min-width: 150px;
  max-width: 200px;
}

