<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>"Supporter Settings!"</title>
<body>
<h1>Supporter Settings</h1>

<div class="settingsbox">
  <mat-expansion-panel>
    <mat-expansion-panel-header>Personal Info</mat-expansion-panel-header>
    <p>
      Title: <br>
      <mat-form-field class="input">
        <input matInput placeholder="Job Title" value="">
      </mat-form-field>
      <br>
      University: <br>
      <mat-form-field class="input">
        <input matInput placeholder="University" value="">
      </mat-form-field>
      <br>
      Bio: <br>
      <mat-form-field class="textbox">
        <textarea matInput placeholder="Write an optional bio here."></textarea>
      </mat-form-field>
  </p>
  </mat-expansion-panel>

  <br>

  <mat-expansion-panel>
    <mat-expansion-panel-header>Appointment Settings</mat-expansion-panel-header>
    <ul>
      <li><mat-checkbox>Accept appointments</mat-checkbox></li>
      <li><mat-checkbox>Accept appointments from undergrads</mat-checkbox></li>
      <li><mat-checkbox>Accept appointments from postgrads</mat-checkbox></li>
    </ul>
    <p>
      Minimum appointment buffer:
      <mat-form-field class="input">
        <input matInput placeholder="Duration" value="">
      </mat-form-field>
      <mat-form-field class="input">
        <mat-select placeholder = "Unit of Time">
          <mat-option value="minutes">Minutes</mat-option>
          <mat-option value="hours">Hours</mat-option>
        </mat-select>
      </mat-form-field>
    </p>
    <p>
      Max number of people allowed in an appointment:
      <mat-form-field class="input">
        <input matInput placeholder="Number of people" value="">
      </mat-form-field>
    </p>
  </mat-expansion-panel>

  <br>

  <mat-expansion-panel>
    <mat-expansion-panel-header>Notification Settings</mat-expansion-panel-header>
    <ul>
      <li><mat-checkbox>Receive notifications before an appointment</mat-checkbox></li>
      How many hours prior?
      <mat-form-field class="input">
        <input matInput placeholder="Hours prior" value="">
      </mat-form-field>
      <li><mat-checkbox>Receive notifications on appointment cancellation</mat-checkbox></li>
      <li><mat-checkbox>Receive notifications on feedback received</mat-checkbox></li>
    </ul>
  </mat-expansion-panel>

  <br>

  <mat-expansion-panel>
    <mat-expansion-panel-header>Feedback Settings</mat-expansion-panel-header>
    <ul>
      <li><mat-checkbox>Publicly show feedback</mat-checkbox></li>
      <li><mat-checkbox>Allow thumbs-up/thumbs-down</mat-checkbox></li>
      <li><mat-checkbox>Allow five-star ratings</mat-checkbox></li>
      <li><mat-checkbox>Allow comments</mat-checkbox></li>
    </ul>
  </mat-expansion-panel>

  <br>

  <mat-expansion-panel>
    <mat-expansion-panel-header>Tag Settings</mat-expansion-panel-header>
    <p>
      Search for a tag to add to your profile:
      <br>
      <mat-form-field class="input">
        <input matInput placeholder="Tag Search" value="">
      </mat-form-field>
      <button mat-raised-button color="primary">Confirm</button>
      <br>
      Click on a tag below to remove it:
      <br>
      <button mat-raised-button color="primary">Technical Interviews</button>
      <button mat-raised-button color="primary">Angular</button>
      <button mat-raised-button color="primary">CompSci 311</button>
    </p>
  </mat-expansion-panel>

  <br>

  <button mat-raised-button color="accent">Apply Settings</button>
  </div>


</body>
</html>
