

<div class="container">
  <div class="row">
    <div class="col">
      <button type="button" class="btn btn-primary">Primary</button>
    </div>
    <div class="col-9">
      
      <div>
        <mwl-calendar-week-view
          [viewDate]="viewDate"
          [events]="events"
          [refresh]="refresh"
          (eventClicked)="handleEvent('Clicked', $event.event)"
          (eventTimesChanged)="eventTimesChanged($event)"
        >
        </mwl-calendar-week-view>

      </div>
    </div>
  </div>
</div>


