<div class="row">
  <div class="float-left" class="col-3">
    <h3>hh</h3>
  </div>
  <div style="padding: 3em;" class="float-right" class="col-9">
    <mwl-calendar-week-view
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [dayStartHour]="8"
      [dayEndHour]="18"
      [hourSegments]="4"
      [excludeDays]="excludeDays"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-week-view>
  </div>
</div>
