<h1>Up Coming Appointments</h1>
<hr>

<div *ngFor="let appointment of appointments">
  <ul *ngIf="appointment.date > date ">
    <mat-card [class.mat-elevation-z5]="true" class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{appointment.type}}</mat-card-title>
        <mat-card-subtitle>{{appointment.supporter}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <h3>
          <p>{{appointment.date | date:'HH:mm a  MMM dd yyyy '}}</p>
        </h3>
      </mat-card-content>
      <mat-card-actions>
        <button (click)="varify(appointment)" mat-button routerLink="/student-myappointments" >Cancel</button>
      </mat-card-actions>
    </mat-card>
  </ul>
</div>

<h1>Previous Appointments</h1>
<hr>

<div *ngFor="let appointment of appointments">
  <ul *ngIf="appointment.date <= date ">
    <mat-card [class.mat-elevation-z5]="true" class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{appointment.type}}</mat-card-title>
        <mat-card-subtitle>{{appointment.supporter}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <h3>
          <p>{{appointment.date | date:'HH:mm a  MMM dd yyyy '}}</p>
        </h3>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button [routerLink]="['/student-ratesupporter', appointment.supporter]">RATE</button>
      </mat-card-actions>
    </mat-card>
  </ul>
</div>
