<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>"Supporter Landing!"</title>
<body>
<h1>Supporter Availability</h1>
<h2> Current Availability:</h2>
<div class = appointmentbox>
  <ul>
    <li>Sunday: {{sunday}}</li>
    <li>Monday: 5 AM - 5 PM </li>
    <li>Tuesday: Unavailable </li>
    <li>Wednesday: Unavailable </li>
    <li>Thursday: Unavailable </li>
    <li>Friday: 12 PM - 6 PM </li>
    <li>Saturday: 9 Am - 6 PM </li>
  </ul>
</div>

<h2> Edit Availability:</h2>
<div class = appointmentbox>
  <h3>Select a Day:</h3>
  <select matNativeControl required [(ngModel)]="date">
    <option value="monday">Monday</option>
    <option value="tuesday">Tuesday</option>
    <option value="wednesday">Wednesday</option>
    <option value="thursday">Thursday</option>
    <option value="friday">Friday</option>
    <option value="saturday">Saturday</option>
    <option value="sunday">Sunday</option>
  </select>
  <br>
  <br>
  <h3>Choose Availability:</h3>
  <p>Available from <input matInput placeholder="Start time" value="" [(ngModel)]="start">
  <select matNativeControl required [(ngModel)]="startAMPM">
    <option value="AM">AM</option>
    <option value="PM">PM</option>
  </select>
  to <input matInput placeholder="End Time" value=""[(ngModel)]="end">
  <select matNativeControl required [(ngModel)]="endAMPM">
    <option value="AM">AM</option>
    <option value="PM">PM</option>
  </select> </p>
  <button mat-raised-button color="warn" (click)="click()">Confirm</button>
</div>

</body>
</html>
